{% extends 'shopFront/main.html' %}
{% load static %}
{% block content %}

<style>
    .profile-container {
        padding: 20px;
    }

    .profile-pic {
        width: 150px;
        height: 150px;
        margin: 0 auto;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid #f0f0f0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card {
        border: none;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .btn-custom {
        background-color: #17a2b8;
        color: white;
        border: none;
        transition: background-color 0.3s ease;
    }

    .btn-custom:hover {
        background-color: #138496;
    }

    h3 {
        font-weight: 600;
        color: #343a40;
    }

    form {
        margin-top: 20px;
    }
</style>

<div class="container profile-container">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-body text-center">
                <a class="btn btn-warning mb-3" href="{% url 'user-Page' %}"> &#8592; Back to Profile</a>
                <h3>Account Settings</h3>
                {% if request.user.customer.profile_pic %}
                <img class="profile-pic" src="{{request.user.customer.profile_pic.url}}">
                {% else %}
                <img class="profile-pic" src="{% static 'images/profile1.png' %}">
                {% endif %}
            </div>
        </div>
        <div class="col-md-9">
            <div class="card card-body">
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-custom mt-3" type="submit">Update Information</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
