{% load static %}
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="{% static "/images/capu.jpg" %}" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
            <h5>Cappuccino</h5>
            <p>Originally, it was made by Italian monks called Capuchins!!</p>
          </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static "/images/ess.jpg" %}" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
            <h5>Espresso</h5>
            <p>boiling water is forced through finely-ground coffee beans. It creates a concentrated, syrup-like coffee drink.</p>
          </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static "/images/fra.jpg" %}" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
            <h5>Frappe</h5>
            <p>Most people top it with whipped cream</p>
          </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
  </div>
  